html {
    height: 100%;
}

h1 {
    text-align: center;
}

/* creates and formats background image */
.random-recipes {
    background-image: url("../images/art-background-citrus-1415734.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
}

/* formats outer recipe card */
.recipeDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* formats inner recipe card */
.recipeCard {
    width: 18rem;

body {
    background-image: url("../mock-up-background.jpg");
    background-repeat: repeat;
}

.recipe-title {
    text-align: center;
    background-color: white;
    border: 3px solid rgb(238, 139, 100);
    margin-bottom: 20px;
}

.grocery-list {
    background-color: lightsalmon;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(238, 139, 100);
}

#recipe-pic {
    border: 3px solid rgb(238, 139, 100);
}

.ingredient-box {
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 3px solid rgb(238, 139, 100);
}

.input-group {
    
}