html {
    height: 100%;
}

/* creates and formats background image */
.random-recipes {
    background-image: url("../images/art-background-citrus-1415734.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
}

/* formats outer recipe card */
.recipeDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* formats inner recipe card */
.recipeCard {
    width: 18rem;
}

.recipe-title {
    text-align: center;
    background-color: white;
    border: 3px solid rgb(238, 139, 100);
    margin-bottom: 20px;
}

.grocery-list {
    background-color: lightsalmon;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(238, 139, 100);
}

#recipe-pic {
    border: 3px solid rgb(238, 139, 100);
}

.ingredient-box {
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 3px solid rgb(238, 139, 100);
}

/* centers search field and button */
.input-group {
   padding-left: 30%; 
   padding-right: 30%;
}

.vertical { 
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    height: 100%;
}
.vertical:before { 
    color: rgb(236, 120, 90);
}
.vertical:after { 
    color:  rgb(255, 168, 54);
}