body, html {
    height: 100%;
}

h1 {
    text-align: center;
}

/* creates and formats background image */
.random-recipes {
    background-image: url("../images/art-background-citrus-1415734.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
}

/* formats outer recipe card */
.recipeDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* formats inner recipe card */
.recipeCard {
    width: 18rem;
}